{% extends 'admin/master.html' %}
{% block body %}

<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> Notifications Panel
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            <a href="{{url_for('account_request')}}" class="list-group-item">
                <i class="fa fa-comment fa-fw"></i>
                <span> Create Account Requests
                </span>
            </a>

            <a href="{{url_for('transactionslog')}}" class="list-group-item">
                <i class="fa fa-file fa-fw"></i> <span> See All the Transactions
                </span>
            </a>
            <!-- /.list-group -->

        </div>
        <p>{{name}}</p>
        <!-- /.panel-body -->
    </div>
</div>
{% endblock body %}