{% extends "layout.html" %}
{% block content %}

<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
          <h3>Deposit</h3>
      </div>
      <p class="article-content">Number of our parteners and customers show that we are trustworthy.</p>
      <a class="mr-2" href="{{url_for('deposit')}}">Deposit Now</a>
    </div>
  </article>

  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
          <h3>Withdraw</h3>
      </div>
      <p class="article-content">Your money will be everywhere with you.</p>
      <a class="mr-2" href="{{url_for('withdraw')}}">Withdraw Now</a>
    </div>
  </article>

  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
          <h3>Transfer</h3>
      </div>
      <p class="article-content">Experience the fastest and most secured transfer system.</p>
      <a class="mr-2" href="{{url_for('transfer')}}">Transfer Now</a>
    </div>
  </article>

<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
          <h3>Transactions log</h3>
      </div>
      <p class="article-content">See all your transactions.</p>
      <a class="mr-2" href="{{url_for('user_transactions_hist')}}">See Transactions</a>
    </div>
  </article>
{% endblock %}