{% extends "layout.html" %}
{% block content %}
<table class="table table-bordered table-light">
    <thead class="table-secondary">
    <tr>
        <th>Reference Number</th>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {%for transaction in transactions.items %}
    <tr>
        <td>{{transaction.reference_number}}</td>
        <td>{{transaction.sender_id}}</td>
        <td>{{transaction.receiver_id}}</td>
        <td>{{('{:,.2f}AFs'.format(transaction.fund_amount))}}</td>
        <td>{{transaction.transaction_type}}</td>
        <td>{{transaction.date}}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if prev_url %}
        <li class="page-item">
            <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {%for page_num in transactions.iter_pages(left_edge=1, right_edge=1, right_current=2) %}
            {% if page_num %}
            {% if transactions.page==page_num %}
                <li class="page-item active"><a class="page-link" href="{{url_for ('user_transactions_hist',page=page_num)}}">{{page_num}}</a>
                </li>
            {%else%}
          <li class="page-item"><a class="page-link" href="{{url_for ('user_transactions_hist',page=page_num)}}">{{page_num}}</a>
            </li>
            {%endif%}
            {% else %}
            ...
            {%endif%}
        {% endfor %}

        {% if next_url %}
        <li>
            <a class="page-link" href="{{ next_url }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}